
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.center p {

    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    font-size: 40px;
    margin: auto;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

body{
    background-image: url("img/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}





